body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    position: relative;
}

#carouselImage {
    max-width: 100%;
    border-radius: 10px;
    margin: 0 50px;
}

.carousel-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-btn:hover {
    background-color: #0056b3;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
